@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--cream: #B8B5A2;
	--olive: #6B705C;
	--lavender: #D0C6E1;
	--container: 1060px;
	--default-font-size: 16px;
	--base-font-size: var(--default-font-size);
}

@font-face {
	font-family: 'MyChinese';
	src: local('MyChinese'), url('../fonts/MyChinese.ttf') format('truetype');
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

.lang-zh,
.lang-zh * {
	font-family: 'MyChinese', "Noto Sans SC", "Microsoft YaHei", "PingFang SC", system-ui, sans-serif !important;
}

.lang-zh input,
.lang-zh textarea,
.lang-zh select,
.lang-zh button {
	font-family: 'MyChinese', "Noto Sans SC", "Microsoft YaHei", "PingFang SC", system-ui, sans-serif !important;
}

html.lang-zh {
	--system-fonts: "Montserrat", "Libre Baskerville", "Gentium Plus", system-ui, sans-serif;
}

* { 
	box-sizing: border-box;
}

body {
	font-family: "Montserrat";
	font-size: var(--base-font-size);
	line-height: 1.56;
	background: #fff;
}

html.lang-zh {
	--base-font-size: calc(var(--default-font-size) + 3px);
}

html.lang-zh em,
html.lang-zh i,
html.lang-zh .italic {
	font-style: normal !important;
	font-weight: 700 !important;
	font-family: 'MyChinese', "Noto Sans SC", "Microsoft YaHei", "PingFang SC", system-ui, sans-serif !important;
}

.wrap {
	max-width: var(--container);
	padding: 0 30px;
	margin: 60px auto 60px auto;
}

h1 {
	font-family: "Libre Baskerville";
	font-size: 32px;
	line-height: normal;
	margin: 60px 0;
	text-align: center;
}

.field {
	display: flex;
	align-items: center;
	height: 50px;
	width: 405px;
	background: #fff;
	border-radius: 10px;
	padding: 0 20px;
	margin-bottom: 10px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.03);

	select,
	input {
		border: none;
		outline: none;
		flex: 1;
	}

	input {
		&::placeholder {
			color: #9a9a9a;
			opacity: 1;
		}
	}

	select {
		color: #111;

		option {
			color: #111;

			&[hidden] {
				display: none;
			}
		}

		&:has(option:checked[value=""]) {
			color: #9a9a9a;
		}
	}
}

a {
	color: inherit;
	text-decoration: none;
}