.chat-page {
  font-family: "Libre Baskerville";
  display: flex;
  height: 100vh;
 
  background:  var( --cream);
}

.chat-list {
  width: 25%;
  background: var( --cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  box-shadow: inset -2px 0 8px rgba(0, 0, 0, 0.05);

  &__title {
    
    color: #fff;     
    font-size: 32px;
    line-height: normal;
    margin: 60px 0;
    text-align: center;
        font-size: 45px;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    &:hover {
      transform: scale(1.02);
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 10px;
  }

  &__info {
    flex: 1;
    font-weight: 500;
  }
}


.chat-window {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__header {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 10px;
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
  }

  &__messages {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
    background: #fff;
  }

  &__message {
    display: flex;
    align-items: flex-end;
    position: relative;

    &.from-sitter {
      justify-content: flex-start;

      .chat-window__bubble {
        background: #fff;
        color: #000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }
    }

    &.from-owner {
      justify-content: flex-end;

      .chat-window__bubble {
        background: #c5b2d6; /* сиреневый */
        color: #000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__bubble {
    border-radius: 20px;
    padding: 10px 16px;
    max-width: 45%;
    position: relative;
  }
}


.msg-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #d9d9d9;
  border: 1px solid #000;
  margin: 0 10px;
}

.msg-time {
  font-size: 0.7rem;
  color: #444;
  position: absolute;
  bottom: -18px;
  right: 10px;
}


.message-input {
    margin: 30px;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
   border-radius: 30px;

  input {
    flex: 1;
    padding: 12px 20px;    
    border: none;  
    outline: none;
    font-size: 0.9rem;
  }

  button {
    margin-left: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #c5b2d6;
    color: white;
    font-size: 18px;
    cursor: pointer;
   
    transition: 0.2s;

    &:hover {
      background: #a88ec4;
    }
  }
}


.right-menu {
  width: 11.8%;
  background:    var( --cream);
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
}
