@import "../../styles/_common.scss";

footer {
    background: var(--olive);
    color: #fff;
    padding: 0 0 60px 0;

    .footer-inner {
        max-width: var(--container);
        padding: 0 30px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .footer-left,
    .footer-right {
        h1 {
            font-family: "Libre Baskerville";
        }
    }

    .footer-left h1 {
        margin-bottom: 19px;
    }

    .footer-right {
        h1 {
            margin-bottom: 60px;
        }

        a {
            display: block;
            margin-bottom: 10px;
        }
    }
}
