@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//==================================================
// ПЕРЕМЕННЫЕ
//==================================================

$fontFamily: "Inter";
$maxWidthContainer: 1380px;
$md1: 1650px;
$md2: 1093px;
$md3: 996px;

//==================================================

body {
  margin: 0;
  font-family: $fontFamily;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//==================================================
// HEADER
//==================================================

.header {
  background-color: #FCF9EC;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
   z-index: 200; // выше всех “обычных” элементов

  &_content {}

  &_menu {
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md2) {
      justify-content: baseline;
    }
    
  }
}

//==================================================
// MENU
//==================================================

.menu {
  display: flex;

  &_icon {}

  &_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md3) {
      justify-content: unset;
     }

   
    }
  

  &_list {
    align-items: center;
    gap: 51px;
     @media (max-width: $md3) {
      transform: translate(0, -100%);
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0px;
      top: 0;
      left: 0;
      background-color: white;
      overflow: auto;

      // жс добавляет при клике этот класс
     }

    li {
      margin: 0;
    }

    @media (min-width: $md3) {
      display: flex;

    }
    @media (max-width: $md2) {
     gap: 40;
      
    }
  }

  &_link {

    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    transition: color 0.3s ease 0s;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 20%;
      width: 0;
      height: 2px;
      background-color: black;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 55%;
    }

    @media (min-width: $md2) {
      &:hover {
        color: #000;
      }
    }
  }
}

//==================================================
// BURGER
//==================================================

.icon-menu {
  display: none;

  @media (max-width: $md3) {
    display: block;
    position: relative;
    width: 44px;
    height: 31px;
    cursor: pointer;
   
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      top: calc(45% - 1px);
      left: 0;
      border-radius: 9999px;
      position: absolute;
      width: 100%;
      height: 6px;
      background-color: #698264;

      &:first-child {
        top: 0;
        
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }

    
  }
}
.header_menu.active .icon-menu {
    position: fixed;
    left: auto;
    top: 27px;
    right: 10px;
    z-index: 100;
    span{
       transform: translateY(0px) rotate(45deg);
display: block;
      &:first-child {
      display: none;
        
      }
      &:last-child {
       transform: translateY(-12px) translateX(0px) rotate(-45deg);
       display: block;
      }
    }
}


.header_menu.active {
  .menu_list{
    display: flex;
           
   
  }
  .menu_logo, .reg_list{
    display: none;
  }

  
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    height: 500px;
    z-index: 100;
    overflow: hidden;
    align-items: center;
    justify-content: start;
    position: absolute;
}
.header_menu.active .menu_list {
    display: flex
;
    transform: translate(0, 0);
    background-color: transparent;
    flex-direction: column;
    width: 100%;
    padding: 97px 20px;
    position: relative;
    justify-content: center;
}
//==================================================
// ОСНОВНАЯ СЕТКА
//==================================================

._container {
  width: clamp(450px, 90%, $maxWidthContainer); // минимум 477px, максимум $maxWidthContainer, предпочитаемое 80%
  margin: 0 auto;
  
  transition: width 0.3s ease;
overflow: visible;
  
  @media (max-width: 600px) {
    padding: 0 10px;
  }
}
//==================================================
// DROPDOWN
//==================================================

.dropdown {
  position: relative;
  display: inline-block;
  @media (max-width: $md3) {
      transform: translate(0, -100%);
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0px;
      top: 0;
      left: 0;
      background-color: white;
      overflow: auto;

      // жс добавляет при клике этот класс
     }

  &-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #FCF9EC;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding: 12px 22px 12px 30px;
    cursor: pointer;
    font-size: 14px;
    @media (max-width: $md2) {
    gap: 0px;
  }

    img {
      width: 44px;
      height: 28px;
      border-radius: 5px;
      margin-right: 22px;
    }
  }

  &-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    overflow: hidden;

    div {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }

    img {
      width: 20px;
      height: 14px;
      border-radius: 10px;
    }
  }

  &.show .dropdown-content {
    display: block;
  }
}

//==================================================
// ОБЩИЕ СТИЛИ
//==================================================

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

.reg_list {
  display: flex;
  gap: 56px;
  align-items: center;
   @media (max-width: $md3) {
    gap: 30px;
    
   width: 100%;
   justify-content: center;
  }
  

  .menu_link::after {
    display: none;
  }
}

.btn {
  background-color: #9EBC98;
  border-radius: 20px;
  font-size: 24px;
  padding: 9px 21px 13px 21px;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  &:hover {
    color: white;
  }
}

.icon_list {
  display: flex;
  align-items: center;
  gap: 56px;
  @media (max-width: $md2) {
    gap: 30px;
  }
}

//==================================================
// HERO
//==================================================

.hero {
  background-color: #E1E8D9;
  box-shadow: inset 0 -5px 35px rgba(0, 0, 0, 0.5);

  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &_form {
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
    z-index: 20;
    margin-top: 56px;
    margin-bottom: 285px;
    display: flex;
    align-items: center;
    gap: 34px;
    @media (max-width: $md2) {
    margin-bottom: 191px;
  }
  @media (max-width: $md3) {
   margin-bottom: 103px;
   margin-top: 22px;
  }
    

    &_item {
       
      .btn {
        white-space: nowrap;
        display: inline-block;
        margin-top: 28px;
        box-shadow: none;
        padding: 16px 80px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 9999px;
        
        @media (max-width: $md2) {
    margin-top: 0px;
  }
        
      }

      h1 {
        margin-top: 0px;
        margin-bottom: 9px;
        font-size: 16px;
        font-weight: 400;
        color: black;
      }
    }
  }
}

//==================================================
// INPUTS & SELECTS
//==================================================

select,
input {
  
  border: none;
  width: 295px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-left: 30px;
  border-radius: 9999px;
  font-size: 20px;
  color: #9EBC98;
  outline: none;
}
input {
  
  width: 265px;
  
}


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 11px 7px;
  background-image: url('/img/Group 106.svg');
  background-repeat: no-repeat;
  background-position: right 30px center;
}

input::placeholder {
  color: #9EBC98;
  opacity: 1;
  font-size: 20px;
}

//==================================================
// HERO DECOR
//==================================================

section .hero:after {
  content: "";
  width: 391px;
  height: 302px;
  background: url(/img/cat2.png) no-repeat;
  position: absolute;
  left: 0;
  bottom: -20px;
  padding-bottom: 30px;
  display: block;
  z-index: 15;
   @media (max-width: $md3) {
    background-size: 222px auto;
    width: 222px;
  height: 171px;
  bottom: -10px;
  padding-bottom: 47px;
  }
}

section .hero {
  position: relative;
}

.hero_content._container::before {
  content: "";
  width: 357px;
  height: 172px;
  padding-right: 32px;
  background: url(/img/cat.png) no-repeat;
  position: absolute;
  right: 0;
  bottom: -20px;
  padding-bottom: 35px;
  display: block;
  z-index: 15;
   @media (max-width: $md3) {
    background-size: 186px auto;
    width: 186px;
  height: 89px;
  bottom: -10px;
  padding-bottom: 7px;
  }
}

//==================================================
// SERVICES
//==================================================

.servises {
  background-color: #FCF9EC;
  padding-top: 39px;
  text-align: center;
  padding-bottom: 70px;
}




h3{
  margin: 0;
  padding: 0;
   padding-top: 39px;
  padding-bottom: 72px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0px;
  height: auto;
}

.services-slider {
 overflow: visible; /* позволяет карточкам вылезать наружу */
  margin: 0 -320px;   /* карточки выступают за края контейнера */
  
}

.service-card {
  width: 366px !important;
  height: 320px !important;
  background: #fff;
  padding-bottom: 70x;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

/* Кастомные стрелки */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  border: none;
  
 
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  z-index: 10;
}

.arrow.prev { left: 0px; }
.arrow.next { right: 0px; }
.slick-track {
  display: flex !important;
  gap: 50px; /* расстояние между карточками */
  
  justify-content: center;
}

h2{
  font-size: 40px;
  margin: 0;
  margin-bottom: 46px;
  text-align: center;
}

.info{
   background-color: #FCF9EC;
   box-shadow: inset 0 -10px 20px -15px rgba(0, 0, 0, 0.4);
   padding-bottom: 95px;
   h2{
    margin-bottom: 64px;
   }

}
.advses{
  display: flex;
  
  gap: 90px;

  @media (max-width: 1272px) {
      gap: 26px;
    }
    @media (max-width: $md3) {
      flex-direction: column;
      
    }
    
}

.advses_item{
  h2{
    font-size: 36px;
    font-weight: 600;
    color:#698265 ;
    margin-bottom: 5px;
  }
  p{
    font-size:24px ;
    font-weight:400 ;
    margin: 0;
    
  }
}


footer{
  background-color: #E1E8D9;
}

.footer_social{
  display: flex;
  width: 100%;
gap: 142px;
@media (max-width: 1272px) {
      gap: 69px;
    }
    @media (max-width: $md3) {
      gap: 27px;
      
    }

}

.social_item{
  h3{
    padding-top: 69px;
    padding-bottom: 35px;
    font-size: 24px;
    font-weight: 600;
    @media (max-width: $md3) {
     font-size: 20px;
      
    }
  }
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    padding-bottom: 5px;
  }
}
.footer_copy{
  text-align: right;
}

.footer_content{
  padding-bottom: 50px;
}